body {
    padding: 0;
    margin: 0;
    font-family: 'StratosSkyeng', sans-serif;
    background-color: #004980;
}

.app {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.levels {
    width: 480px;
    height: 459px;
    background-color: #C2F5FF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.levels__box {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.level {
    height: 98px;
    width: 98px;
    background-color: #FFFFFF;
    border-radius: 12px;
    color: #0080C1;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caption__main {
    color: #004980;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    width: 208px;
    padding-bottom: 22px;
    padding-top: 26px;
}

.levels__btn {
    width: 246px;
    height: 50px;
    left: 389px;
    top: 519px;
    background: #7AC100;
    border-radius: 12px;
    border: none;
    margin-top: 67px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
